@import '../../scss/utilities';

.menu-item {
    @extend %flex-center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 10px;
    .left {
        flex-basis: 70%;
    }
    .right {
        flex-basis: 30%;
        text-align: right;
    }
    .item-title {
        @extend %text;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
    }
    .item-price {
        @extend %text-item-price;
    }
    .item-description {
        @extend %text;
        font-size: 12px;
        line-height: 16px;
        font-weight: light;
        color: $grey;
    }
}