@import './scss/utilities';

.mealtime-container {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.button {
  @extend %button;
  text-transform: uppercase;
  &.blue {
    background-color: $blue;
    color: white;
  }
  &.indigo {
    background-color: $indigo;
    color: white;
    svg * {
      fill: white;
    }
  }
  &.light {
    @include linear-gradient(to bottom, white 84.38%, $light-grey 100%);
    color: $indigo;
    svg * {
      fill: $indigo;
    }
    &:disabled {
      color: rgba($indigo, 0.4);
      svg * {
        fill: rgba($indigo, 0.4);
      }
    }
  }
  &.split {
    justify-content: space-between;
  }
  svg {
    margin-right: 5px;
  }
}

.button-icon {
  svg {
    height: 12px;
    width: 12px;
  }
}

.button-small {
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  border-radius: 10px;
  svg {
    height: 8px;
  }
}

.button-large {
  width: 100%;
  padding: 4px 14px;
  height: 40px;
  border-radius: 4px;
  font-weight: bold;
  svg {
    height: 16px;
  }
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}

p {
  @extend %text-paragraph;
}

.section-title {
  @extend %text-section-title;
  margin: 10px 0;
}

.modifier-title {
  @extend %text-modifier-title;
}

.text-align-right {
  text-align: right;
}

.react-dropdown-select {
  width: calc( 100% - 30px)!important;
  background-color: white;
  border: none!important;
  border-radius: 18px!important;
  padding: 2px 10px 2px 20px!important;
}
.react-dropdown-select-dropdown {
  width: 100%;
}